.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: $color-default-white;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding: 10px 15px;
  border-radius: 3px;

  &:hover,
  &:focus {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
    cursor: pointer;
  }
}
