.first-screen {
  position: relative;
  background-color: $color-black-pearl;
  height: 100%;
}

.first-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  z-index: 1;
}

.first-screen__image {
  position: relative;
  width: 100%;
  z-index: 0;
}

.first-screen__wrapper {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: $color-alice-blue;
  position: absolute;
  z-index: 2;
  top: 34.5%;
  left: 24.7%;

  @include vp-1023 {
    top: 28%;
    left: 6.5%;
  }

  @include vp-767 {
    margin-right: 25px;
    max-width: 270px;
    top: 26.7%;
    left: 7.5%;
  }
}

.first-screen h1 {
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 9px;
  }
}

.first-screen p {
  font-family: "PT Mono", "Courier New", monospace;
  text-transform: none;
  font-size: 22px;
  line-height: 35px;
  max-width: 685px;
  margin: 0 0 62px 0;

  @include vp-1023 {
    margin-bottom: 77px;
    line-height: 30px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 55px;
  }
}

.first-screen__button {
  background-color: $color-deep-sky-blue;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 15px 27px;

  @include vp-1023 {
    margin-left: 45px;
    padding: 17px 27px;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 38px 11px 38px;
  }
}

@include vp-767 {
  /* Скрыть оригинальный текст кнопки */
  .first-screen__button span {
    display: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Показать новый текст на псевдоэлементе ::before */
  .first-screen__button::before {
    content: "Бесплатная консультация";
    display: inline-block;
    text-indent: 0;
  }
}
