.header {
  width: 100%;
  min-height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  z-index: 3;

  @include vp-1023 {
    padding: 0 50px;
    min-height: 100px;
    position: absolute;
  }

  @include vp-767 {
    min-height: 70px;
    padding: 0 25px;
  }
}

.header__wrapper {
  align-items: center;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include vp-1023 {
    justify-content: space-between;
  }
}

.header__logo {
  @include vp-1023 {
    padding-bottom: 14px;
  }

  @include vp-767 {
    margin-left: 1px;
  }
}

.header__logo-image {
  @include vp-767 {
    width: 35px;
    height: 35px;
    padding-top: 0;
  }
}

.header__contacts-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 120px;
  margin: 0 auto 0 22px;
  min-width: 480px;

  @include vp-1023 {
    padding-right: 0;
    padding-bottom: 21px;
    gap: 39px;
    margin: 0 29px 0 0;
    min-width: auto;
  }

  @include vp-767 {
    padding-right: 6px;
    margin-right: 14px;
  }
}

.header__contacts-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $color-alice-blue;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__contacts-text {
  margin-left: 7px;
  color: inherit;
  align-items: center;

  @include vp-1023 {
    margin-left: 0;
    display: none;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }
}

.header__button {
  padding: 11px 16px;

  @include vp-1023 {
    display: none;
  }

  margin-right: 61px;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
}

.header__logo-name-wrapper {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.header__container {
  margin: 0 auto;
  height: 100%;
  max-width: 1220px;
  padding-top: 27px;

  @include vp-767 {
    padding-top: 15px;
  }

  @include vp-1023 {
    padding-top: 16px;
  }

  @media (min-width: $vp-1024) {
    width: 90%;
  }
}
