.logo {
  display: flex;
  gap: 15px;
  margin-right: auto;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  padding-top: 3px;
  max-width: none;
}
