.logo {
  display: flex;
  gap: 15px;
  margin-right: auto;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__name-wrapper p:first-child {
  font-weight: 700;
  color: $color-alice-blue;
  margin: 0;
  font-size: 25px;
  padding-top: 10px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  white-space: nowrap;
}

.logo__image {
  padding-top: 3px;
  max-width: none;
}

.logo__name-wrapper p:not(:first-child) {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
